.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:doors, :index)
      %li=link_to pat(:new), url(:doors, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:doors)
    .inner
      %table.table
        %tr
          %th.first=mat(:door, :id)
          %th=mat(:door, :from_id)
          %th=mat(:door, :to_id)
          %th.last="&nbsp;"
        -@doors.each do |door|
          %tr
            %td.first= link_to door.id, url(:doors, :edit, :id => door.id)
            %td= link_to door.from.slug, "/#maps/#{door.from.slug}"
            %td= link_to door.to.slug, "/#maps/#{door.to.slug}"
            %td.last
              =button_to pat(:edit), url(:doors, :edit, :id => door.id), :method => :get, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
