!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title + " | " if @title
      Stories from an Invisible Town
    %meta{:charset => "utf-8"}/
    %link{:rel => "canonical", :href => @canonical || "http://invisibletown.org#{request.path}"}    
    %meta{:name => "keywords", :value => "accessibility, venue, culture, access, mobility, disability"}
    %meta{:name => "MSSmartTagsPreventParsing", :content => "true"}/
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}/
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1;maximum-scale=1;minimum-scale=1;user-scalable=no;"}/
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}/
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    
    = favicon_tag 'favicon.ico'
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
    %script{:src=>"/javascripts/modernizr-2.0.6.min.js",:type=>"text/javascript"}
    %link{:href => "/stylesheets/application.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    /[if IE]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body
    #header
      %h1
        %a#stories_title{:href=>"/"}
          Stories from an Invisible Town
    #page.container
      %a#back «
      #story
      #fader
      #map
        #map_markers
        #map_image
          %img{:src=>"/images/splash.png"}
        #background
      = yield
  
  <script id="soundcloudTemplate" type="text/x-jquery-tmpl">
  <object height="81" width="100%"><param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F${soundcloud_track_id}"></param><param name="allowscriptaccess" value="always"></param><embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F${soundcloud_track_id}" type="application/x-shockwave-flash" width="100%"></embed></object></span> 
  </script>
  
  <script id="aframeTemplate" type="text/x-jquery-tmpl">
  <iframe src="https://app.aframe.com/embed/1.0/clips/${aframe_clip_id}" style="width:100%; height: 520px; border: 0px;" scrolling="no"></iframe>
  </script>
  
  <script id="imageTemplate" type="text/x-jquery-tmpl">
  <img src="${image_url}" style="width:100%" />
  </script>
          
  %script{:src=>"/javascripts/underscore.js", :type=>"text/javascript"}   
  %script{:src=>"/javascripts/underscore.strings.js", :type=>"text/javascript"}         
  %script{:src=>"/javascripts/backbone.js", :type=>"text/javascript"}      
  %script{:src=>"/javascripts/jquery.js", :type=>"text/javascript"}
  %script{:src=>"/javascripts/jquery.tmpl.js", :type=>"text/javascript"}
  %script{:src=>"/javascripts/jquery-ujs.js", :type=>"text/javascript"}
  %script{:src=>"/javascripts/jquery.tipTip.js", :type=>"text/javascript"}
  %script{:src=>"/javascripts/application.js", :type=>"text/javascript"}   
  = yield_content :scripts
